.load{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
    animation: scale 1.25s ease-in infinite;
    transform: scale(0);
}
.day:nth-child(1){
    background-color: blue;
}
.day:nth-child(2){
    background-color: darkcyan;
    animation-delay: 0.25s;
}
.day:nth-child(3){
    background-color: deeppink;
    animation-delay: 0.5s;
}
@keyframes scale{
    to{
        transform: scale(0);
    }
    50%{
        transform: scale(1.5);
    }

}